meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
title COINEX | Reset Password
link(rel='shortcut icon', href='/assets/images/coinblazers-favicon2.png')
link(rel='stylesheet', href='/assets/css/libs.min.css')
link(rel='stylesheet', href='/assets/css/coinex.css?v=1.0.0')
#loading
  .loader.simple-loader
    .loader-body
//  loader END 
div(style='background-image: url(\'/assets/images/auth/01.png\')')
  .wrapper
    section.vh-100.bg-image
      .container.h-100
        .row.justify-content-center.h-100.align-items-center
          .col-md-6.mt-5
            .card
              .card-body
                .auth-form
                  h2.text-center.mb-4 Reset Password
                  form#resetPasswordForm(method='POST', action=`/reset-password/${token}`)
                    input(type='hidden', name='token', value=token)
                    .form-floating.mb-3
                      input.form-control#password(type='password', name='password', placeholder='New Password', required)
                      label(for='password') New Password
                    .text-center
                      button.btn.btn-primary(type='submit') Reset Password
//  Custom JavaScript 
script(src='/js/bundle.js')
script(src='/assets/js/libs.min.js')
script(src='/assets/js/charts/widgetcharts.js')
script(src='/assets/js/fslightbox.js')
script(src='/assets/js/app.js')
script(src='/assets/js/charts/apexcharts.js') 